@media screen and (min-width: 768px) {
    .gallery-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .home-container1 {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .home-container2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}