@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 1fr;
    height: 100vh;
    font-family: 'Roboto Mono', monospace;
}
header {
    background-color: #90d8b2;
    color: black;
    text-align: center;
}
header h1 {
    padding: 20px;
    margin: 0;
}
nav {
    background-color: #b4e5cb;
    display: flex;
    padding: 20px 0;
    justify-content: space-evenly;
}
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
}
nav a:hover {
    color: #004C2C;
    text-decoration: underline overline;
}
main {
    background-color: white;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
}
section {
    border: 2px solid #90d8b2;
    border-radius: 15px;
    overflow: hidden;
}
aside {
    border: 2px solid #90d8b2;
    border-radius: 15px;
    padding: 0;
    overflow: hidden;
}
aside ul a {
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center;
    height: 100%;
}
aside ul a:hover {
    color: #004C2C;
    text-decoration: underline overline;
}
section p, section img {
    padding: 20px;
}
main h2 {
    text-align: center;
    padding: 20px;
    margin: 0;
    background-color: #90d8b2;
    color: black;
}
.about-me{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr;
    align-items: center;
    gap: 10px;
}
.flag-text-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    align-items: center;
    gap: 10px;
}
.flag-text-container img {
    max-width: 200px;
}
.about-me img {
    max-width: 200px;
}
.flag-text-container em {
    justify-self: center;
    margin-top: -150px;
}
section h2 {
    grid-column: 1 / -1;
    text-align: center;
}
section img {
    max-width: 150px;
    border-radius: 15px;
    justify-self: center;
    padding: 20px;
    float: right;
}
h3 {
    grid-column: 1 / -1;
    justify-self: center;
}
.section-divider {
    grid-column: 1 / -1;
    border: none;
    border-top: 2px solid #90d8b2;
    width: 700px;
    margin: auto;
}
footer {
    background-color: #90d8b2;
    color: black;
    text-align: center;
}